    <!-- About Section -->
    <div  ng-controller="agroservicescontroller">
        
        <div class="container">
                <div class="col-lg-12 text-center">
                    <h2>Confirmar Rutas Asignadas</h2>
                    <hr class="star-light">
                </div>              
        </div>
                                    
        <div class="row">
            <menu-notificaciones></menu-notificaciones>
            <div class="col-md-9">
                <div class="form-group">
                    <label>Cedula del transportista</label>
                    <input type="text" ng-model="idTransportista" class="form-control" id="idTransportista" placeholder="C.C">
                    <button class="btn btn-primary" ng-click="rutasPorTransportista()"> Consultar por C.C</button>
                    <button class="btn btn-primary" ng-click="todasRutas()"> Consultar todas las rutas</button>
                </div>
                <table class="table table-condensed table-bordered ">
                    <thead>
                        <tr>
                            <th>Codigo de ruta</th>
                            <th>Fecha inicio</th>
                            <th>Fecha finalización</th>
                            <th>Recoger en</th>
                            <th>Ciudad</th>
                            <th>Departamento</th>
                            <th>Entregar en</th>
                            <th>Ciudad</th>
                            <th>Departamento</th>
                        </tr>                
                    </thead>
                    <tbody>
                        <tr ng-repeat="ruta in rutas">
                            <td>
                                {{ruta.rutas.idRutas}}
                            </td>
                            <td >
                                {{ruta.rutas.fechaInicio}}
                            </td>
                            <td >
                                {{ruta.rutas.fechaFinalizacion}}
                            </td>
                            <td >
                                {{ruta.detalleFactura.productosEnVenta.campesinos.ubicaciones.direccion}}
                            </td>
                            <td >
                                {{ruta.detalleFactura.productosEnVenta.campesinos.ubicaciones.ciudad}}
                            </td>
                            <td >
                                {{ruta.detalleFactura.productosEnVenta.campesinos.ubicaciones.departamento}}
                            </td>
                            <td >
                                {{ruta.detalleFactura.facturas.ubicaciones.direccion}}
                            </td>
                            <td >
                                {{ruta.detalleFactura.facturas.ubicaciones.ciudad}}
                            </td>
                            <td >
                                {{ruta.detalleFactura.facturas.ubicaciones.departamento}}
                            </td>
                            <td>
                                <button class="btn btn-success btn-sm" ng-click="rutaSeleccionada(ruta)">Aceptar</button>
                                <button class="btn btn-danger btn-sm" ng-click="prodSeleccionado(ruta)">Rechazar</button>
                            </td>
                        </tr>                 
                    </tbody>
                </table>                  
            </div>
        </div>
    </div>
