<div class="row" ng-controller="fichaTecnicaCtrl as fichaCtrl" ng-submit="fichaTecnica.$valid && enviarProductoEnVenta()">

    <div class="container">
        <div class="col-lg-12 text-center">
            <h2>Ficha Técnica del Producto</h2>
            <hr class="star-light">
        </div>              
    </div>
    <menu-campesinos></menu-campesinos>
    <div class="col-md-9">
        <form name="fichaTecnica" ng-submit="fichaTecnica.$valid && enviarProductoEnVenta()" novalidate>
            <div class="form-group">
                <label for="selected">Producto</label>
                <select ng-model="productoEnVenta.productos" id="selected" requiered class="form-control">
                    <option ng-repeat="producto in productos" value='{{producto.nombre}}'>{{producto.nombre}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="fecha">Fecha Cosecha</label>
                <input type="date" ng-model="productoEnVenta.fechaCosecha" class="form-control" required=""
                       id="fecha" placeholder="dd-mm-yyyy"/>
            </div>
            <div class="form-group">
                <label for="cantidad">Cantidad:</label>
                <input type="number" placeholder="Cantidad" class="form-control" id="cantidad" required
                       ng-model="productoEnVenta.cantidadDisponible"/>
            </div>
            <div class="form-group">
                <label for="precio">Precio:</label>
                <input type="number" placeholder="Precio" class="form-control" id="precio" required
                       ng-model="productoEnVenta.precioPorKg"/>
            </div>                        
            <div class="form-group">
                <label for="comment">Descripción:</label>
                <textarea class="form-control" rows="5" id="comment"
                          ng-model="productoEnVenta.descripcion"></textarea>                
            </div> 
                                    
            <input type="submit" value="Enviar"/>
        </form>        
    </div>
        
</div>