<div class="row" ng-controller="fichaTecnicaCtrl as fichaCtrl">

    <div class="container">
        <div class="col-lg-12 text-center">
            <h2>Ficha Técnica del Producto</h2>
            <hr class="star-light">
        </div>              
    </div>
    <menu-campesinos></menu-campesinos>
    <div class="col-md-9">
        <form name="fichaTecnica" ng-submit="fichaTecnica.$valid && enviarProductoEnVenta()" novalidate>
            <div class="form-group">
                <label for="IdCampesino">ID Campesino</label>
                <input type="number" ng-model="campesino.idCampesino" class="form-control" required id="IdCampesino"
                       placeholder="Identificación Campesino"/>
            </div>
            <div class="form-group">
                <label for="selected">Producto</label>
                <select ng-model="productoEnVenta.productos" id="selected" requiered class="form-control">
                    <option ng-repeat="producto in productos" value='{{producto.nombre}}'>{{producto.nombre}}</option>
                </select>
            </div>                        
                <label for="pregunta">¿No encuentra su producto?</label>
                <input type="checkbox" ng-model="noHayProducto" class="form-control" id="pregunta"/>     
                <p ng-show="noHayProducto">Se ha desplegado un menú en la parte inferior de la página para que pueda
                crear su propio producto</p>
            <div class="form-group">
                <label for="fecha">Fecha Cosecha</label>
                <input type="date" ng-model="productoEnVenta.fechaCosecha" class="form-control" required
                       id="fecha" placeholder="dd-mm-yyyy"/>
            </div>
            <div class="form-group">
                <label for="cantidad">Cantidad:</label>
                <input type="number" placeholder="Cantidad" class="form-control" id="cantidad" required
                       ng-model="productoEnVenta.cantidadDisponible"/>
            </div>
            <div class="form-group">
                <label for="precio">Precio:</label>
                <input type="number" placeholder="Precio" class="form-control" id="precio" required
                       ng-model="productoEnVenta.precioPorKg"/>
            </div>                        
            <div class="form-group">
                <label for="comment">Descripción:</label>
                <textarea class="form-control" rows="5" id="comment"
                          ng-model="productoEnVenta.descripcion"></textarea>                
            </div> 
                                    
            <input type="submit" value="Enviar" class="btn btn-primary"/>
        </form>   
        <p ng-show="exitoCrearProductoEnVenta">Se creó con exito su ficha técnica señor campesino, 
            ya podrá hacer ventas con ella.</p>
        <p ng-show="errorCrearProductoEnVenta">No se pudo crear la ficha técnica de su producto.</p>
        <div ng-show="noHayProducto">
            <h2>Formulario Creación de Productos</h2>
            <form name="productoFicha" novalidate ng-submit="productoFicha.$valid && enviarProducto()">
                <div class="form-group">            
                    <label for="nombre">Nombre del Producto</label>
                    <input type="text" ng-model="producto.nombre" class="form-control" required id="nombre"
                           ng-app=""placeholder="Nombre Producto"/>
                </div>        
                <div class="form-group">            
                    <label for="duracion">Duración del Producto</label>
                    <input type="text" ng-model="producto.duracion" class="form-control" required id="duracion"
                       placeholder="Duracion Producto"/>
                </div>        
            <div class="form-group">            
                <label for="refrigeracion">¿Necesita refrigeración?</label>
                <input type="checkbox" ng-model="producto.refrigeracion" class="form-control" id="refrigeracion"/>
            </div>  
                <input type="submit" value="Enviar" class="btn btn-primary"/>                
            </form>  
            <p ng-show="exitoCrearProducto">Se creó con exito su producto señor campesino, 
                ya podrá registrar fichas técnicas con este producto.</p>  
            <p ng-show="errorCrearProducto">No se pudo crear el nuevo producto que deseaba.</p>
        </div>        
    </div>
        
</div>